.title{
    color: #007722;
}
/*头部*/
.header-personal{
    margin-left: 40px !important;
}
.navbar{
    box-shadow: 0 0 5px #888;
    min-width: 800px;
}
.content-container{
    margin-top: 80px;
}

/*列表*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.subject-item{
    overflow: hidden;
    zoom: 1;
    border-top: 1px dashed #ddd;
    padding: 20px 0 10px;
}

.subject-item .pic{
    float: left;
    margin-right: 20px;
}

.subject-item .info{
    overflow: hidden;
    zoom: 1;
    color: #666;
}

.subject-item .info h2{
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 0px;
}

.subject-item .pub {
    margin: 6px 0 8px;
}

/*评分*/

.br-widget{
    height:22px !important;
    float: left;
}